$fallback-fonts: Arial, Helvetica, sans-serif;

$classic-font: 'IBM Plex Sans', $fallback-fonts;
$special-font: 'Sen', $fallback-fonts;
$code-font: 'Fira Code', monospace; // TODO use Droid Sans Mono
