@function rem($size) {
  @return ($size / 16px) * 1rem;
}

$header-height: 120px;
$page-width: 1100px;
$icon-button-margin: 0px;
$card-corner-size: rem(32px);
$border-radius-small: rem(2px);
$border-radius-medium: rem(4px);
$border-radius-large: rem(8px);

@mixin text-margin {
  margin: rem(16px) 0 rem(32px) 0;
}
